<div class="col-xs-5">
  <h2>Sign in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="form-fields-aligned-error">
        <%= f.error_notification %>
      </div>
      <div class="form-inputs">
        <%= f.input :email, autofocus: true, required: true %>
        <%= f.input :password, required: true %>
        <div class="relative-radio-outer full_width">
            <%= f.check_box :remember_me, class:"checkbox-hide" %>
            <label class="checkbox" for="user_remember_me">
              <span class="checkbox-bg"></span>Remember me ?
            </label>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign in",class:"btn-primary" %>
      </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>