<div class="container-fluid">
	<div class="row">
	  <div class="col-xs-10 clearfix">
  		<table class="audition_forms_tbl shipping-table table">
			<thead>
				<th class="operation"></th>
				<th>Condition <%= link_to '+', new_fee_condition_path, :remote => true, :class => 'add-remove-btn' %></th>
				<th>Answer</th>
				<th class="outcome">Outcome</th>
				<th class="sub_accounts">Sub Accounts</th>
				<th class="sub_accounts">Sub Accounts Products</th>
			</thead>
			<tbody id="fee_condition_forms_body">
				<% if !@fee_conditions.blank? %>
					<% @fee_conditions.each do |form| %>
						
						<% fee_subaccounts = SubCompany.find_by_sql("SELECT sub_companies.* FROM sub_companies inner join fee_subaccounts on sub_companies.id = fee_subaccounts.sub_company_id where fee_subaccounts.fee_condition_id= #{form.id}") %>
						
						<% fee_products = Product.find_by_sql("SELECT products.* FROM products inner join fee_products on products.id = fee_products.product_id where fee_products.fee_condition_id= #{form.id}") %>

						<% fee_answers = form.fee_answers %>
						
						<%= render partial: "fee_condition_forms_row",:locals => { fee_condition:form,:fee_subaccounts => fee_subaccounts,:fee_answers => fee_answers,:fee_products => fee_products} %>
					<% end %>
				<% else %>
					<tr id="no_audition_form_row"><td colspan="5">No form added yet</td></tr>
				<% end %>
				
			</tbody>
		</table>
	  </div>
	  <%= render partial: "users/filters" %>
	</div>
</div>
<%= render partial: 'fee_conditions/sub_accounts' %>
<%= render partial: 'fee_conditions/products' %>
	  


