<div class="col-xs-5">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <!--<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>-->
        <div class="test_wrap">
          <%= f.check_box :remember_me %><span class="bold">Remember me ?</span>
        </div>

        <!--<label class="checkbox" for="user_remember_me">
          <span class="checkbox-bg"></span>
          <span>Remember me ?</span>
        </label>-->
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in",class:"btn-primary" %>
      </div>
  <% end %>


</div>
